{% extends "lab9/base_lab9.html" %}
{% block lab9 %}Лабораторная работа 9{% endblock %}
{% block main %}
<h1 style="text-align: center; color: #FF4500;">Поздравление</h1>
<p style="text-align: center; font-size: 20px; color: #008000;">С Новым Годом, {{ name }}!</p>
<p style="text-align: center; font-size: 25px;">🎄 🎄 🎄 🎄 🎄 🎄 🎄 🎄 🎄 🎄</p>
<p style="text-align: center; font-size: 20px; color: #008000;">{{ greeting_text }}</p>

<div style="text-align: center; margin-top: 20px;">
    <img src="{{ url_for('static', filename=image) }}" alt="Картинка" style="border: 5px solid #008000; border-radius: 10px; max-width: 60%; height: auto;">
</div>
<form action="{{ url_for('lab9.get_name') }}" method="GET" style="text-align: center;">
    <button type="submit" class="btn btn-primary" style="text-decoration: none; padding: 10px 20px; background-color: #4CAF50; color: white; border-radius: 5px;">Начать сначала</button>
</form>
{% endblock %}

