{% extends 'base.html' %}

{% block lab %}
    Лабораторная работа 3
{% endblock %}

{% block main %}
    <h1>Пользователь</h1>
    <form>
        <div>
            <label>Ваше имя:</label>
            <input type="text" placeholder="Как вас зовут?" name="user" value="{{ user or '' }}">
            <span class="error">{{ errors.user }}</span>
        </div>
        <div>
            <label>Ваш возраст:</label>
            <input type="number" placeholder="Сколько вам лет?" name="age" value="{{ age or '' }}">
            <span class="error">{{ errors.age }}</span>
        </div>
        <div>
            <label>Ваш пол:</label>
            <select name="sex">
                <option value="male" {{ 'selected' if sex == 'male' }}>мужчина</option>
                <option value="female" {{ 'selected' if sex == 'female' }}>женщина</option>
            </select>
        </div>
        <button type="submit">Отправить</button>
    </form>

    {% if user %}
        <h2>Привет, {{ user }}!</h2>
        <div>Ваш возраст: {{ age }}</div>
        <div>Ваш пол: {{ 'мужской' if sex == 'male' else 'женский' }}</div>
        <a href="/lab3/form1">Заново</a>
    {% endif %}
{% endblock %}
