body {
    background-color: #f0f8ff; /* Светло-голубой фон */
    color: #333333; /* Цвет текста */
    font-family: Arial, sans-serif;
}

img {
    width: 400px;  /* Ширина изображения */
    height: auto;  /* Автоматическая высота */
    border: 5px solid #000; /* Черная рамка вокруг изображения */
    border-radius: 10px; /* Скругленные углы */
}

h1 {
    color: #2e8b57; /* Темно-зеленый цвет заголовка */
}

a {
    color: #ff6347; /* Цвет ссылки - томатный */
}
