{% extends 'base.html' %}

{% block lab %}
    Лабораторная работа 2
{% endblock %}

{% block main %}
    <h1>Ссылки на лабораторные задания</h1>
    <ul>
        <li><a href="/lab2/a"> Слэш в конце пути (без слэша)</a></li>
        <li><a href="/lab2/a/"> Слэш в конце пути (со слэшем)</a></li>
        <li><a href="/lab2/flowers">Просмотр всех цветов</a></li>
        <li><a href="/lab2/add_flower/Роза">Добавить цветок</a></li>
        <li><a href="/lab2/cars">Список машин</a></li>
        <li><a href="/lab2/books">Список книг</a></li>
        <li><a href="/lab2/calc/">Калькулятор</a></li>
    </ul>
{% endblock %}
