<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rgz/style_rgz.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <h1>Рецепты</h1>
        <nav>
            <div class="nav-center">
                <a href="/rgz/">Главная</a>
                <a href="/rgz/add_recipe">Добавить рецепт</a>
                <a href="/rgz/search">Поиск</a>
                <a href="/rgz/recipes">Все рецепты</a>
            </div>
            <div class="nav-right">
                {% if 'username' in session %}
                    <span>Добро пожаловать, {{ session['username'] }}!</span>
                    <a href="/rgz/logout">Выйти</a>
                {% else %}
                    <a href="/rgz/login">Вход</a>
                    <a href="/rgz/register">Регистрация</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <!-- Добавление блока для отображения flash сообщений -->
    <div class="alerts">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Рецепты &copy; 2024, Орлова Ярослава Владиславовна, ФБИ-22</p>
    </footer>
</body>
</html>
