{% extends 'rgz/base_rgz.html' %}

{% block content %}
    <h2>{{ recipe.name }}</h2>
    <img src="{{ recipe.photo_url }}" alt="Фото рецепта" style="max-width:100%; height:auto;">
    <p><strong>Описание:</strong> {{ recipe.description }}</p>
    <p><strong>Ингредиенты:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Шаги приготовления:</strong> {{ recipe.steps }}</p>
    

    {% if 'role' in session and session['role'] == 'admin' %}
        <!-- Форма для удаления рецепта -->
        <form method="POST" action="{{ url_for('rgz.delete_recipe', recipe_id=recipe_id) }}" class="inline-form">
            <button type="submit">Удалить рецепт</button>
        </form>
    {% endif %}

    <br>
    <a href="{{ url_for('rgz.recipes') }}">Вернуться к списку рецептов</a>
{% endblock %}
