{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<h1>Создание статьи</h1>

<!-- Ссылка на главную -->
<a href="/lab8">На главную</a>

<!-- Вывод ошибок -->
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form action="/lab8/create" method="post">
    <div>
        <label>Заголовок: <input type="text" name="title"></label>
    </div>
    <div>
        <label>Текст статьи:</label><br>
        <textarea name="article_text" rows="10" cols="50"></textarea>
    </div>
    <div>
        <label><input type="checkbox" name="is_favorite"> Избранное</label>
    </div>
    <div>
        <label><input type="checkbox" name="is_public"> Публичное</label>
    </div>
    <div>
        <button type="submit">Создать статью</button>
    </div>
</form>
{% endblock %}
